In [13]:
import requests
import json
import pandas as pd

## Steps

1. Make request to an URL 
2. Check Status code
3. Check content type
4. Print content type
5. Parse content type to python representation
6. Use the data in your application

In [14]:
# Make request to an URL
response = requests.get('http://localhost:8080/medish_centrum_randstad/api/netlify?page=1')

In [15]:
# Check Status code
response.status_code

200

In [16]:
# Check content type
response.headers['content-type']

'application/json'

In [17]:
file_contents= response.json()  #dictionary
print(type(file_contents))
print(len(file_contents))

<class 'dict'>
6

In [18]:
keys = file_contents.keys()
for key in keys:
    print(key)
    break

status

In [19]:
life = pd.DataFrame.from_dict(file_contents['data'])
display(life.head())

   genetic  length  mass  exercise  smoking  alcohol  sugar  lifespan
0     84.0   180.0  90.0       2.0      9.0      1.0      2        86
1     84.0   204.0  79.0       3.0      2.0      7.0      3       100
2     84.0   174.0  74.0       3.0     20.0      3.0      2        87
3     84.0   187.0  78.0       2.0      6.0      5.0      3        91
4     84.0   187.0  89.0       2.0     12.0      0.0      2        83

In [10]:
life=life[['genetic','length','mass','exercise','smoking','alcohol','sugar','lifespan']]
life.dropna(inplace=True)
print(life)

#drop the missing value in data

      genetic  length  mass  exercise  smoking  alcohol  sugar  lifespan
0        84.0   180.0  90.0       2.0      9.0      1.0      2        86
1        84.0   204.0  79.0       3.0      2.0      7.0      3       100
2        84.0   174.0  74.0       3.0     20.0      3.0      2        87
3        84.0   187.0  78.0       2.0      6.0      5.0      3        91
4        84.0   187.0  89.0       2.0     12.0      0.0      2        83
...       ...     ...   ...       ...      ...      ...    ...       ...
8187     82.0   185.0  67.0       3.0     11.0      8.0      2        90
8188     82.0   183.0  72.0       2.0      1.0      5.0      4        88
8189     83.0   192.0  92.0       1.0     22.0      2.0      4        62
8190     81.0   175.0  60.0       3.0     13.0      7.0      2        93
8191     83.0   204.0  76.0       3.0      8.0      8.0      1        96

[8185 rows x 8 columns]

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
X=life[['genetic','length','mass','exercise','smoking','alcohol','sugar']]
y=life[['lifespan']]
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)
print(X_train.shape,y_train.shape,X_test.shape,y_test.shape)

(6548, 7) (6548, 1) (1637, 7) (1637, 1)